{% extends "base.html" %}
{% load static %}
{% block main %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/1">Cars and Bikes</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/2">Home and Decoration</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/3">Mobiles and Tablets</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/4">Home Appliances</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/5">Fashion</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/6">Books</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/7">Sports and Fitness</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/9">Toys and Kids' Accessories</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/category/8">Laptops And PCs</a></h4>
                            </div>
                        </div>
                    </div>
                    <!--/category-products-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="{% static 'images/home/shipping.jpg' %}" alt="" />
                    </div>
                    <!--/shipping-->

                </div>
            </div>
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="/static{{ item.image.url }}" style="height:auto; max-width:100%" alt="" />
							</div>
							<!--<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides 
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										
									</div>

								   Controls 
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>    
							</div>
                            -->
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
                              <h2>{{ item.title }}</h2>
								<p>Item ID: #{{ item.id }}</p>
								<span>
									<span>₹{{ item.price }}</span>
                                    <div class="row">
                                    <button type="button" class="btn btn-fefault cart">
										<i class="fa fa-phone"></i>
										<a href="#details" style="color:white">Contact Seller</a>
									</button>
                                    </div>
								</span>
								<p><b>Availability:</b> {{ item.quantity }}</p>
                                <p><b>Date Added:</b> {{ item.date }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                              <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
                          
							
							<div class="tab-pane fade" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                  
									<p><b>Write Your Review</b></p>
									
									
									<form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
										<textarea name="" ></textarea>
										<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
                          <div class="tab-pane fade active in" id="details" >
                            <div class="col-sm-12">
                              <div class="blog-post-area">
                                 <div class="row">
                                    <div class="single-blog-post col-sm-6">
                                        <h5>Contact: {{ seller.number }}</h5>
                                        <h5>Email: {{ seller.email }}</h5>
                                        <h5>Address: {{ seller.address }}</h5>
                                    </div>
                                  </div>
                                    <div>
                                        <p>
                                            {{ item.description }}</p> <br>
                                    </div>
                              </div>	
                            </div>
                          </div>
                          <div class="tab-pane fade" id="companyprofile" >
                            <div class="col-sm-12">
                              <div class="blog-post-area">
                                 <div class="row">
                                    <div class="single-blog-post col-sm-6">
                                        <h1>{{ seller.name }}</h1>
                                        <h5>Contact: {{ seller.number }}</h5>
                                        <h5>Email: {{ seller.email }}</h5>
                                        <h5>Address: {{ seller.address }}</h5>
                                    </div>
                                  </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> <br>
                                    </div>
                              </div>	
                            </div>
                          </div>
                      </div>
						
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                  {% for it in items|slice:":6" %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<a href="/item/{{ item.id }}"><img src="/static{{ it.image.url }}" style="height:auto; max-width:100%" alt="" /></a>
													<h2>{{ it.price }}</h2>
													<p>{{ it.title }}</p>
													<a href="/item/{{ item.id }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Item</a>
												</div>
											</div>
										</div>
									</div>
                                  {% endfor %}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	{% endblock %}